<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Practice Test Suite" parallel="methods" thread-count="4"
	verbose="1">
	<test name="UI AUtomation Test">
		<parameter name="browser" value="${browser}"></parameter>
		<parameter name="isLmabdaTest" value="${isLmabdaTest}"></parameter>
		<parameter name="isHeadless" value="${isHeadless}"></parameter>
		<classes>
			<class name="com.ui.tests.LoginTest" />
		</classes>
	</test>
</suite>